{% extends "html1/base.html" %}
{% block header %}
<div class="container">
  <h1>{{ title|default('Test Report') }}</h1>
</div>
{% endblock %}
{% block content %}
<div class="container">
  <section class="summary">
    {% block summary %}
    <div class="metadata">
      <table>
        {% block metadata %}
        <tr>
          <td>Started</td>
          <td>{{ started|strftime('%Y-%m-%d %H:%M:%S') }}</td>
        </tr>
        <tr>
          <td>Ended</td>
          <td>{{ ended|strftime('%Y-%m-%d %H:%M:%S') }}</td>
        </tr>
        <tr>
          <td>Duration</td>
          {% set duration = ended - started %}
          <td>{{ duration|timedelta }}</td>
        </tr>
        {% if config._metadata %}
          {% for key, value in config._metadata.items() %}
            <tr>
              <td>{{ key }}</td>
              <td>
                {% if value is mapping %}
                  {% for key, value in value.items() %}
                    {{ key }}: {{ value }}<br/>
                  {% endfor %}
                {% else %}
                  {{ value }}
                {% endif %}
              </td>
            </tr>
            {% endfor %}
        {% endif %}
        {% endblock %}
      </table>
    </div>
    <div class="graph">
      {% include "html1/chart.svg" %}
      <div class="legend">
        {% for category, tests in tests|groupby('status.category') %}
          <span class="status badge {{ category }} {{ tests|map(attribute='status.style')|first|join(' ') }}">
            {{ tests|count }}
          </span>
          <span>{{ category }}</span>
        {% endfor %}
      </div>
    </div>
    {% endblock %}
  </section>
  {% if warnings %}
    <section class="warnings">
      {% for warning in warnings %}
        <div class="status badge warning">WARNING</div>
        <div>{{ warning.filename }}:{{ warning.lineno }}<br>{{ warning.message }}</div>
      {% endfor %}
    </section>
  {% endif %}
  <section class="test-files">
    {% for fspath, tests in tests|groupby('item.fspath') %}
      {% set item = tests|map(attribute='item.parent')|first %}
      <div class="file collapsible">
        <div class="title">
          {% block module_title scoped %}
          <h2 class="fspath">
            {{ fspath|replace(config.rootdir, '')|replace('\\', '/') }}
          </h2>
          <div class="counts">
          {% for category, tests in tests|groupby('status.category') -%}
            <div title="{{ tests|count }} {{ category }}" class="status badge {{ category }} {{ tests|map(attribute='status.style')|first|join(' ') }}">{{ tests|count }}</div>
          {%- endfor %}
          </div>
          {% endblock %}
        </div>
        <div class="content">
          {% block module_content scoped %}
            {% include "html1/module.html" %}
          {% endblock %}
        </div>
      </div>
    {% endfor %}
  </section>
</div>
{% endblock %}
