{% extends "html1/base.html" %}
{% block header %}
<h1>Test Report</h1>
{% endblock %}
{% block content %}
<div class="container">
  <ol class="test-files">
    {% for fspath, tests in test_runs|groupby('item.fspath') %}
    <li class="collapsable">
      <div class="title">
        <span class="fspath">{{ fspath|replace(config.rootdir, '') }}</span>
        <span class="letters">
        {% for test in tests -%}
          {% for phase in test.phases if phase.status.letter -%}
            <span class="{{ phase.status.category }} {{ phase.status.style|join(' ') }}">{{ phase.status.letter }}</span>
          {%- endfor %}
        {%- endfor %}
        </span>
      </div>
      <div class="content">
        <ol class="test-runs">
          {% for test in tests %}
          <li class="collapsable {{ test.status.category }} {{ test.status.style|join(' ') }}">
            <div class="title">
              <span class="status">{{ test.status.word }}</span>
              <span class="test-name">{{ test.item.name }}</span>
              <span class="duration">{{ test.phases|sum('report.duration')|timedelta }}</span>
            </div>
            <div class="content">
              <ol class="test-phases">
                {% set ns = namespace(used_sections=[]) %}
                {% for phase in test.phases %}
                  {% set sections = phase.report.sections|rejectattr(0, 'in', ns.used_sections)|list %}
                  {% if sections or phase.report.longrepr %}
                  <li class="collapsable {{ phase.report.when }} {{ phase.status.category }}">
                    <div class="title">
                      {% if phase.status.word %}
                      <span class="status">{{ phase.status.word }}</span>
                      {% endif %}
                      <span class="phase-name">{{ phase.report.when|title }}</span>
                      <span class="duration">{{ phase.report.duration|timedelta }}</span>
                    </div>
                    <div class="content">
                      {% if phase.report.longrepr %}
                      <div class="repr">
                        <pre>{{ phase.report.longrepr }}</pre>
                      </div>
                      {% endif %}
                      {#
                      <li>
                        <div class="title">Captured log {{ phase.report.when }}</div>
                        <div class="content">
                          <ol>
                            {% for record in phase.log_records %}
                              <li>{{ record.message }}</li>
                            {% endfor %}
                          </ol>
                        </div>
                      </li>
                      #}
                      {% for section, content in sections %}
                      {% set ns.used_sections = ns.used_sections + [section] %}
                      <div class="section">
                        <div class="section-title">{{ section }}</div>
                        <pre>{{ content|escape|replace('\r\n', '\n')|ansi|safe }}</pre>
                      </div>
                      {% endfor %}
                    </div>
                  </li>
                  {% endif %}
                {% endfor %}
              </ol>
            </div>
          </li>
          {% endfor %}
        </ol>
      </div>
      {#
      <td class="result">{{ test.word }}</td>
      <td class="nodeid">{{ test.item.nodeid }}</td>
      <td class="started">{{ test.phases|map(attribute='call.start')|first|datetime|strftime('%H:%M:%S.%f') }}</td>
      <td class="duration">{{ test.phases|sum('report.duration')|round(1) }}s</td>
          {% for phase in test.phases %}
          <li class="{{ phase.report.when }} {{ phase.category }}">
              <h3>{{ phase.report.when|title }}</h3>
              <div>{{ phase.word }}</div>
              <span>
                  {{ phase.call.start|datetime|strftime('%H:%M:%S.%f') }}
              </span>
              <pre><code>{{ phase.report.longrepr }}</code></pre>
              <ol>
                  {% for record in phase.log_records %}
                  <li>{{ record.message }}</li>
                  {% endfor %}
              </ol>
              {% for section, content in phase.report.sections %}
                  <h4>{{ section }}</h4>
                  <div>
                      {{ content }}
                  </div>
              {% endfor %}
          </li>
          {% endfor %}
      #}
    </li>
    {% endfor %}
  </ol>
  <div>
    <pre><code>{% debug %}</code></pre>
  </div>
</div>
{% endblock %}
