{% block module_content scoped %}
{% set ns = namespace(used_sections=[]) %}
{% for test in tests %}
  <details class="test {{ test.status.category }}">
    <summary>
      <div class="title test-title">
        {% block test_title scoped %}
        <div class="status badge {{ test.status.category }} {{ test.status.style|join(' ') }}">{{ test.status.word }}</div>
        <h3 class="test-name">
          {% block test_name scoped %}
          {% set name = test.item.nodeid.split('::')[1:]|join('::') %}
          {% set funcname, _, params = name.partition('[') %}
          <span class="funcname">{{ funcname }}</span>
          {%- if params -%}
            <span class="params">[{{ params }}</span>
          {% endif %}
          {% endblock %}
        </h3>
        <div class="duration">{{ test.phases|sum('report.duration')|timedelta }}</div>
        {% endblock %}
      </div>
    </summary>
    <div class="content">
      {% include "html1/test.html" %}
    </div>
  </details>
{% endfor %}
{% endblock %}
