
html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.title {
    font-weight: bold;
}

.status {
    font-size: 75%;
    font-weight: bold;
    text-align: center;
    color: white;
    display: inline-block;
    padding: 0.2rem 0.5rem;
    border-radius: 3px;
    margin-right: 0.5rem;
}

.letters {font-family: monospace;}
.letters .passed {color: green;}
.letters .failed {color: red;}
.letters .error {color: red;}

.passed .status {background-color: green;}
.failed .status {background-color: red;}
.error .status {background-color: red;}

ul, ol {
    list-style-type: none;
    padding: 0;
}

pre {
    background-color: rgb(240, 240, 240);
    font-size: 12px;
    padding: 0.7em;
    border: 1px solid rgb(199, 199, 199);
    border-radius: 3px;
    margin-top: 0.2rem;
}

li {
    margin-top: 0.6rem;
    padding: 0.5rem 0.2rem 0.5rem 1rem;
    border: 1px solid rgb(199, 199, 199);
    border-radius: 3px;
}

.test-runs {
    padding: 0.5rem 0;
}

.test-phases {
    padding: 0.5rem 0 0.5rem 0rem;
}

.sections > li > .title {
    font-size: 85%;
}

.sections > li {
    padding: 0;
    border: 0;
}

.duration {
    float: right;
    font-size: 85%;
    font-weight: normal;
    color: rgb(112, 112, 112);
}

/* .test-phases {display: none;} */
